<!DOCTYPE html>
<html>

<head>
  <title>Usuários</title>
  <link rel='stylesheet' href='/stylesheets/usuarios.css' />
</head>

<body>
  <h1>Usuários</h1>
  <p>Bem vindo a Livraria de Todos, está é a view de usuários</p>
</body>

</html>